<div class="body-content">

<!-- parallax container -->
<!-- video example and instructions here -->
<!-- https://coverr.co/ -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="http://www.stantec.com/content/dam/stantec/images/projects/0041/oakridge_development_002.jpg">
    </div>
    <div class="overlay">
      <h1>Van Tech Web</h1>
        <a href='#modal1' class="btn btn-floating pulse"><i class="material-icons">whatshot</i></a>
      <h4>The best place for all your Vancouver Tech Company information needs!</h4>
    </div>
  </div>

<!-- body start HEADER -->
  <div class="container">

    <h1>Van Tech Web</h1>
    <p class='flowtext'>Welcome to Vancouver Tech Web! We’re a one stop shop for all things Vancouver tech. With such a booming tech industry in this beautiful city we decided to create a place where tech afficianados, investors, job hunters and the generally interested to get all the information about the tech scene in Vancouver in one place.</p>

    <br>

  <!-- tri info -->
    <div class="row">
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">location_city</i>
        <p style="text-align: justify;">Seek out Companies that are thriving in this ever expanding tech culture. Use our filter to find Companies you're looking for, or find out about some companies you might just be hearing about for the first time. Head over to the profile page of any company for more in depth information about them. See where they are located, how many people are working there and what tech stack they are working on, also visit their website or follow them on Twitter. If you're here to promote your own company, feel free to add your own exciting startup and help us build this growing community even more.</p>
      </div>
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">developer_board</i>
        <p style="text-align: justify;">Interested in meetups and events? Why not check out our Events page and see what's coming up on the calendar for your favorite companies. You'll be able to see all upcoming events scheduled for any companies we're keeping track of. Head over to the event link and register to attend them. If you've added your own company to the site, we'll also track and plot all of your meetups and events on the calendar for all VTW users to find as well. With networking being such an important facet of the tech community, having a place to keep track of all the best opportunities is a no brainer!</p>
      </div>
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">whatshot</i>
        <p style="text-align: justify;">Wondering what's been going on in the industry in general? Head over to our News section to discover all the latest stories coming our from any of the great businesses we are tracking. It can be tough to seek out news so we thought it would be great to have it all available for you in real time on one hub. Don't miss out on any more information at VTW, you'll be able to stay in touch in this rapidly evolving space and can be right on the tip of the spear with any new developments. Our news feed will keep you in touch with your favorite companies and let you touch base with new companies for the first time.</p>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <!-- <h1>Other stuff</h1> -->
      <div class="col s12">
        <img class='responsive-img' src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/05/tech-job.jpg" alt="">
      </div>

      <div class="">
        <h4>This is a small thingy </h4>
        <p class='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

  </div>
</div>


<!-- <div id="modal1" class="modal bottom-sheet">
   <div class="modal-content">
     <h4>Modal Header</h4>
     <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
   </div>
 </div> -->


   <!-- Modal Structure -->
   <div id="modal1" class="modal bottom-sheet">
     <div class="modal-content">
       <h4>Add us on social media or something</h4>
       <p>we can put icons or something for social media</p>
       <p>or like a newsletter signup thingy</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">click here  if you think its awesome </a>
     </div>
   </div>
