<div class="body-content">

<!-- parallax container -->
<!-- video example and instructions here -->
<!-- https://coverr.co/ -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="http://www.stantec.com/content/dam/stantec/images/projects/0041/oakridge_development_002.jpg">
    </div>
    <div class="overlay">
      <h1>AIO Tech Hub in Vancouver</h1>
        <a href='#modal1' class="btn btn-floating pulse"><i class="material-icons">whatshot</i></a>
      <h4>Exciting words to excite you, wow this is gr8 m8!</h4>
    </div>
  </div>

<!-- body start HEADER -->
  <div class="container">

    <h1>Van Tech Web</h1>
    <p class='flowtext'>Welcome to Vancouver Tech Web! We’re a one stop shop for all things Vancouver tech. With such a booming tech industry in this beautiful city we decided to create a place where tech afficianados, investors, job hunters and the generally interested to get all the information about the tech scene in Vancouver in one place.</p>

    <br>

  <!-- tri info -->
    <div class="row">
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">loyalty</i>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">cloud_upload</i>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">desktop_mac</i>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <!-- <h1>Other stuff</h1> -->
      <div class="col s12">
        <img class='responsive-img' src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/05/tech-job.jpg" alt="">
      </div>

      <div class="">
        <h4>This is a small thingy </h4>
        <p class='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

  </div>
</div>


<!-- <div id="modal1" class="modal bottom-sheet">
   <div class="modal-content">
     <h4>Modal Header</h4>
     <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
   </div>
 </div> -->


   <!-- Modal Structure -->
   <div id="modal1" class="modal bottom-sheet">
     <div class="modal-content">
       <h4>Add us on social media or something</h4>
       <p>we can put icons or something for social media</p>
       <p>or like a newsletter signup thingy</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">click here  if you think its awesome </a>
     </div>
   </div>
