
<div class="body-content">

<!-- parallax container -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="https://www.concordpacific.com/imgs/HomeGallery/vancouver.jpg">
    </div>
    <div class="overlay">
      <h1>VanTech Web</h1>
      <h4>Exciting words to encite you wow this is gr8 m8</h4>
    </div>
  </div>

<!-- body start HEADER -->
  <div class="container">

    <h1>Welcome#index</h1>
    <div class="divider"></div>
    <p class='flowtext'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="divider"></div>

  <!-- tri info -->
    <div class="row">
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">loyalty</i>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">cloud_upload</i>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col m4" style="text-align:center;">
        <i class="material-icons center-text large padded-content" style="color:#00acc1;">desktop_mac</i>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
