<div class="body-content">
<div class="container">

  <div class="card">
      <div class="card-content">
        <h3>EVENTS LIST</h3>
             </div>
      <div class="card-content">
        <%= month_calendar do |date| %>
          <%= date.strftime("%d") %>
          <div class="">
            <a href="#">events here</a>
          </div>
        <% end %>
      </div>
    </div>

</div>
</div>
