<div class="body-content">
  <div class="container">

    <div class="row">
      <div class="col s12 m9">

        <div class="card">
          <div class="card-content">
            <p class='right'><%= "Found #{@events.length} events in your area" %></p>
            <h3>EVENTS LIST</h3>
<hr>
                 </div>
          <div class="card-content">
            <%= month_calendar do |date| %>
              <%= date.strftime("%d") %>
              <div class="">
                <a href="#">events here</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="card ">
          <div class="card-content">
            <h5>Upcoming events</h5>
            <p>May 2017</p>
            <hr>
            <ul>
              <li><a>Codecore demo stuff </a></li>
              <li><a>AYCE food fest </a></li>
              <li><a>Hello Jello </a></li>
              <li><a>Hi Vivian </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
