<div class="body-content">
  <div class="">

    <div class="row">
      <div class="col l4" style='padding-top:130px;'>
        <img class='responsive-img' src="/assets/HellYeah.jpg" alt="">
      </div>

      <div class="col l8">
        <h1>VanTech Web</h1>

          <p>Welcome to Vancouver Tech Web! We’re a one stop shop for all things Vancouver tech. With such a booming tech industry in this beautiful city we decided to create a place where tech afficianados, investors, job hunters and those just generally interested to get all their information about the tech scene in Vancouver from one great place.</p>

          <p>Please peruse our company list and take a deeper dive into what makes all of these great startups unique and exciting. Check the events calendar for a real time schedule of meetups and events being held by any of the companies on our list and register to attend them! Check out the news page to learn about new developments and see what’s going on in your favourite companies or those you might be just hearing about for the first time.</p>

          <p>VTW is an excellent resource for your Vancouver tech industry needs. If you’re coming here to promote your own company, feel free to add that to our growing database of fantastic startups and everyone will be able to seek out more information about your business here as well. We’ll even keep track of your meetups as well!</p>

          <p>Thanks for visiting and we hope you enjoy the site!</p>

          <p>- VTW Team -</p>


      <!-- </div> -->
    </div>
  </div>
</div>
