/*
 *= require_tree .
 *= require_self
 *= require chosen
 */

@import "bourbon";
@import "materialize";

html, body {
  height: 100%;
}
h1,h2,h3,h4,h5{
  font-family: 'Ubuntu', sans-serif;
}

#side-nav{
  width: 55px;
  height: 100vh;
  background-color: rgb(96, 104, 105);
}
