/*
 *= require_tree .
 *= require_self
 *= require chosen
 */

@import "bourbon";
@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
header{
  position: relative;
  z-index: 1;
  height:64px;
}
footer{
  position: relative;
  z-index: 1;
}

h1,h2,h3,h4,h5{
  font-family: 'Ubuntu', sans-serif;
}

.body-content{
  top:50px;
  padding-left: 50px;
  width: 100%;
}

.side-nav{
  position: absolute;
  z-index: -1;
  width: 90px;
  // left: 50%;

  height: 100%;
  padding-top:65px;
  color: white;
  background-color: rgb(170, 188, 193);
  // justify-content: center;
  // position: absolute;
}

#side-nav-list{
width:55px;
margin-top:65px;

}

.small-dp{
  width: 50px;
  padding-top: 5px;
  border-radius: 50%;
}

.top-brand-logo{
  padding-left:50px;
  margin-top: 10px;
}

.justify{
  text-align: justify;
}


.logos{
  min-width: 200px;
  min-height: 200px;
}

.img_responsive {
  max-width: 100%;
  height: auto
}

.tooltipped{
  padding: 0;
}

.paginate-top nav{
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  background-color: #009C8C;
  padding: 12px;
  margin-bottom: 10px;

}


.paginate-bottom nav{
  border-radius: 0px 0px 10px 10px;
  color: #fff;
  background-color: #009C8C;
  padding: 12px;
}

.paginate-text{
  padding-top: 7px;
  padding-right: 7px;
}
// .paginate-text2{
//   margin-top: 7px;
//   padding-left: 7px;
// }
