
.overlay{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color:white;
}
.parallax-container {
    height: 60%;
  }

.padded-container{
  padding: 20px 0px 20px;
}
.padded-content{
  padding: 30px 0px 10px;
}
.navbar-brand-icon{
  padding: 0px 15px 0px;
}

.footerlogo{
  float: left;
  width: 75px;
  margin-top: 13px;
  padding-right: 15px;
  height: auto;
}
