.body-content{
  position:absolute;
  top:50px;
  left:50px;
  width: 100%;
}

.overlay{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color:white;
}

.padded-container{
  padding: 20px 0px 20px;
}
.padded-content{
  padding: 30px 0px 10px;
}
