<footer style="background-image: url(/assets/geo_final.jpg); background-size: 100% 100%;" class="page-footer fixed-bottom">
  <div class="container">

    <div class="row">
      <div class="col l6 s12">
        <div class='footerlogo'>
          <img class="responsive-img" src="https://codecore.ca/assets/codecore_square_logo-875f888aab472ac9c6df3ca2e1ad6a3b.png" alt="">
        </div>
        <h5 class="white-text">Van Tech Web</h5>
        <p class="grey-text text-lighten-4">Codecore 2017 · Feb Cohort 17</p>
      </div>
      <div class="col l3 offset-l2 s12">
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <span style='color:white;'>Team Hell Yeah! ·</span>
        <a class='grey-text text-lighten-3' href="#">Josh G</a> ·
        <a class='grey-text text-lighten-3' href="#">Nic T</a> ·
        <a class='grey-text text-lighten-3' href="#">Trista T</a> ·
        <a class='grey-text text-lighten-3' href="#">Cindy Z</a> ·
        <a class='grey-text text-lighten-3' href="#">Nicholas L</a> ·
        <a class='grey-text text-lighten-3' href="#">Amin R</a> ·
        <a class='grey-text text-lighten-3' href="#">Julius B</a>

      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="https://twitter.com/">
        <i class="fa fa-twitter-square  fa-2x" aria-hidden="true"></i></a>
      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="https://github.com/">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="https://plus.google.com/">
        <i class="fa fa-google-plus  fa-2x" aria-hidden="true"></i></a>
      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="https://facebook.com/">
        <i class="fa fa-facebook-square  fa-2x" aria-hidden="true"></i></a>


    </div>
  </div>
</footer>
