<footer style="background-image: url(/assets/geo_final.jpg); background-size: 100% 100%;" class="page-footer fixed-bottom">
  <div class="container">

    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Van Tech Web</h5>
        <p class="grey-text text-lighten-4">Codecore 2017 · Feb Cohort 17</p>
      </div>
      <div class="col l4 offset-l2 s12">
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <span style='color:white;'>Team HellYeah ·</span>
        <a class='grey-text text-lighten-3' href="#">Josh G</a> ·
        <a class='grey-text text-lighten-3' href="#">Nic T</a> ·
        <a class='grey-text text-lighten-3' href="#">Trista T</a> ·
        <a class='grey-text text-lighten-3' href="#">Cindy Z</a> ·
        <a class='grey-text text-lighten-3' href="#">Nicholas L</a> ·
        <a class='grey-text text-lighten-3' href="#">Amin R</a> ·
        <a class='grey-text text-lighten-3' href="#">Julius B</a>

      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="#!"><i class="material-icons">cake</i></a>
      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="#!"><i class="material-icons">3d_rotation</i></a>
      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="#!"><i class="material-icons">extension</i></a>
      <a class="navbar-brand-icon grey-text text-lighten-4 right" href="#!"><i class="material-icons">track_changes</i></a>

    </div>
  </div>
</footer>
