<div class="wrapper">
  <nav id="side-nav">
<!-- need to align side nav fixed left, 100vh -->
<!-- rest of body should be able to scroll freely -->
<!-- bug: fix bottom height -->

    <ul id="" class="">
<!-- each li on mouse hover it should expand to display text -->
      <li><a href="#!"><i class="material-icons lrg">home</i></a></li>
      <li><a href="#!"><i class="large material-icons">dashboard</i></a></li>
      <li><a href="#!"><i class="large material-icons">explore</i></a></li>
      <li><a href="#!"><i class="large material-icons">event</i></a></li>
      <li><a href="#!"><i class="large material-icons">developer_board</i></a></li>
      <li><a href="#!"><i class="large material-icons">settings</i></a></li>
    </ul>
  </nav>
</div>
