<div class="wrapper">
  <nav id="side-nav">
<!-- need to align side nav fixed left, 100vh -->
<!-- rest of body should be able to scroll freely -->
<!-- bug: fix bottom height -->

    <ul id="" class="">
<!-- each li on mouse hover it should expand to display text -->
      <li><a class="tooltipped" data-position="right" href="#!"data-delay="50" data-tooltip="Home"><i class="material-icons lrg">home</i></a></li>
      <li><a class="tooltipped" data-position="right" href="#!"data-delay="50" data-tooltip="Dashboard"><i class="material-icons lrg">dashboard</i></a></li>
      <li><a class="tooltipped" data-position="right" href="#!"data-delay="50" data-tooltip="Explore"><i class="material-icons lrg">explore</i></a></li>
      <li><a class="tooltipped" data-position="right" href="#!"data-delay="50" data-tooltip="Calendar"><i class="material-icons lrg">event</i></a></li>
      <li><a class="tooltipped" data-position="right" href="#!"data-delay="50" data-tooltip="Events"><i class="material-icons lrg">developer_board</i></a></li>
      <li><a class="tooltipped" data-position="right" href="#!"data-delay="50" data-tooltip="Settings"><i class="material-icons lrg">settings</i></a></li>
    </ul>
  </nav>
</div>
